html{
  font-size: 18px;
}
body{

  background-color: gainsboro;
  color: black;
}

table, tr, th, td, caption {
  border: 2px solid black;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}